# Chặn thư mục node_modules của frontend
RAG_Frontend/node_modules/

# Chặn môi trường ảo và cache của Python (RAG_quizz)
**/__pycache__/
**/*.pyc
.venv/
venv/
hf_cache

# Chặn file cấu hình môi trường bí mật
.env
RAG_quizz/.env

# dist
RAG_Frontend/dist/